h1{
    color:blue;
background-color: chartreuse;
} 
     *{
background-color: chocolate;
border: gray dotted;
}
.ht{
display: flex;
justify-content: space-between;
background-color: blue;
}
.grid{
    display:flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
    } 